<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://trailunknown-leaderboard.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ae817015-30bb-48ed-bb4f-1bd0850c587c/resourceGroups/LeaderboardTrailUnknown/providers/Microsoft.Web/sites/TrailUnknown-Leaderboard</ResourceId>
    <UserName>$TrailUnknown-Leaderboard</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://trailunknown-leaderboard.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>